.add-movie-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
}

.add-movie-section > form {
    width: 100%;
}

.add-movie-title-ctr > h2 {
    color: var(--DARK_COLOR);
    text-align: center;
}
