.add-movie-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

.movielist-title {
    width: 100%;
    color: var(--DARK_COLOR);
    text-align: center;
}
