.add-movie-form {
    width: 100%;
}

.add-movie-fieldset {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--MEDIUM_BG);
    border: 2px solid var(--DARK_BG);
    padding: 2rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 6px;
    min-height: 75vh;
    margin-bottom: 2rem;
    justify-content: space-between;
    overflow: hidden;
}

.add-movie-fieldset > legend {
    color: var(--DARK_COLOR);
}

.submit-button {
    background-color: var(--DARK_BG);
    padding: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 0;
}

.clear-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 0;
    background-color: var(--LIGHT_BG);
    color: var(--DARK_COLOR);
    pointer-events: auto;
}

.clear-button:disabled {
    background-color: var(--LIGHT_T_BG);
    cursor: not-allowed;
}

form:invalid .submit-button {
    background-color: var(--DARK_T_BG);
    cursor: not-allowed;
}

.column-ctr {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.row-ctr {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.row-ctr-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}

.form-status-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.submit-result {
    color: var(--DARK_COLOR);
    font-size: 1.1rem;
}
