.add-movie-fieldset {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--MEDIUM_BG);
    border: 2px solid var(--DARK_BG);
    padding: 2rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 6px;
    min-height: 75vh;
    margin-bottom: 2rem;
    justify-content: space-between;
    color: var(--DARK_COLOR);
    overflow: auto;
}

.add-movie-fieldset label,
.add-movie-fieldset legend,
.add-movie-fieldset input,
.add-movie-fieldset textarea,
.add-movie-fieldset select,
.add-movie-fieldset option {
    color: var(--DARK_COLOR);
    font-size: 1.1rem;
}

.add-movie-fieldset input,
.add-movie-fieldset textarea,
.add-movie-fieldset select {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
}

.submit-button {
    background-color: var(--DARK_BG);
    padding: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 0;
}

.clear-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 0;
    background-color: var(--LIGHT_BG);
    color: var(--DARK_COLOR);
    pointer-events: auto;
}

form:invalid .submit-button {
    background-color: var(--DARK_T_BG);
    cursor: not-allowed;
    pointer-events: none;
}

.submit-button:disabled {
    background-color: var(--DARK_T_BG);
}

.column-ctr {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.row-ctr {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.row-ctr-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}

.loader-hidden {
    visibility: hidden;
}

.loader {
    margin: 0 auto;
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}
