.form-expander {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.form-expander-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    border-bottom: 2px solid var(--LIGHT_BG);
}

.form-expander-button:hover {
    border-bottom: 2px solid var(--DARK_BORDER);
}


.form-expander-title {
    color: var(--DARK_COLOR);
    text-align: center;
}
