.loader-ctr {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	background-color: #FFF;
	opacity: 0.4;
	z-index: var(--Z_INDEX_LEVEL_MAX);
}

.loader {
	width: 50px;
	aspect-ratio: 1;
	display: grid;
	border-radius: 50%;
	background:
	linear-gradient(0deg ,rgb(0 0 0/50%) 30%,#0000 0 70%,rgb(0 0 0/100%) 0) 50%/8% 100%,
	linear-gradient(90deg,rgb(0 0 0/25%) 30%,#0000 0 70%,rgb(0 0 0/75% ) 0) 50%/100% 8%;
	background-repeat: no-repeat;
	animation: loader 1s infinite steps(12);
}

.loader::before,
.loader::after {
	content: "";
	grid-area: 1/1;
	border-radius: 50%;
	background: inherit;
	opacity: 0.915;
	transform: rotate(30deg);
}

.loader::after {
	opacity: 0.83;
	transform: rotate(60deg);
}

@keyframes loader {
	100% {transform: rotate(1turn)}
}

.progress-loader {
	width: 120px;
	height: 22px;
	border-radius: 20px;
	color: #000;
	border: 2px solid;
	position: relative;
}

.progress-loader::before {
	content: "";
	position: absolute;
	margin: 2px;
	inset: 0 100% 0 0;
	border-radius: inherit;
	background: currentColor;
	animation: l6 var(--MAX_LOADING_TIME) ease-out;
}

@keyframes l6 {
    100% {inset:0}
}